$color-highlight: #098CB3;
$color-highlight-light: #1693A5;
$color-highlight-dark: #152A33;

$color-mono-light: #CBCBCB;
$color-mono-dark: #363D40;

$color-primary:#098CB3;
$color-accent: #1693A5;
$color-info:#CBCBCB;

$color-success:#06d6a0;
$color-warning: #faae42;
$color-danger: #e62965;

$color-fade-grey:#ededed; // sollte als Hintergrundfarbe genutzt werden
$color-dark-text: #283252;
$color-light-text: #a2a5b9;

$color-background: #cecece;
$color-navbar: #152A33; 